/* 滚动条样式 */
@supports (overflow: overlay) {
  .scroll {
    overflow: overlay !important;
  }
}

.scroll {
  overflow: auto;
  scrollbar-width: 8px;
  scrollbar-color: "$$color.seca.a4_" "$$color.seca.a7_";
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: "$$color.seca.a7_";
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8;
  border-radius: 4px;
  background-color: "$$color.seca.a4_";
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: "$$color.seca.l3_.a4_";
}
