/* 
    阴影
    scope 变量
    shadow: number 指定shadow的级别
*/
.shadow {
  --shadow-color: "$$color.bgr.ll($color.pri.$l).l8.a7_";
  --shadow-color1: "$$color.bgr.ll($color.pri.$l).l6.a8_";
  --shadow-color2: "$$color.bgr.ll($color.pri.$l).l4.a9_";
  --shadow-level: 2;
  --shadow-x: 0px;
  --shadow-y: calc(1px * var(--shadow-level));
  /* x y blur spread */
  --shadow: var(--shadow-x) calc(1px + 1px * var(--shadow-level) / 2) calc(2px * var(--shadow-level) / 3 +  var(--shadow-x))
      calc(-1px * var(--shadow-level) / 2) var(--shadow-color),
    var(--shadow-x) calc(1px + 1px * var(--shadow-level)) calc(3px * var(--shadow-level) / 2 + var(--shadow-x)) calc(1px * var(--shadow-level) / 8)
      var(--shadow-color1),
    var(--shadow-x) calc(1px + 1px * var(--shadow-level) / 3) calc(2px * var(--shadow-level) + var(--shadow-x)) calc(1px * var(--shadow-level) / 3)
      var(--shadow-color2);
  box-shadow: var(--shadow);
}

.grow {
  --grow-color: "$$color.pri.ss(100).ll(60).a2_";
  --grow-color1: rgba(255,255,255,.3);
  --grow-level: 3;

  /* x y blur spread */
  --grow: 0 0 calc(2px * var(--grow-level) / 3) calc(-1px * var(--grow-level) / 2) var(--grow-color),
    0 0 calc(3px * var(--grow-level) / 2) calc(1px * var(--grow-level) / 8) var(--grow-color),
    0 0 calc(2px * var(--grow-level)) calc(1px * var(--grow-level) / 3) var(--grow-color1);
  box-shadow: var(--grow);
  z-index: 999;
}
