blockquote {
  padding: 0.1em 1em;
  background-color: "$$color.pria.a7_";
  margin: 0.5em 0.5em;
  border-left: 0.2em solid "$$color.pri.ss(100)";
  border-right: 0.2em solid "$$color.pri.ss(100)";
  border-radius: 1em;
}

blockquote > p {
  margin: 0.2em 0;
}
li > p {
  text-indent: 0;
}
p {
  text-indent: 2em;
  line-height: 1.25em;
}
h2,
h3,
h4,
h5,
h6 {
  padding: 0.2em 0.5em;
  margin-top: 1em;
  margin-bottom: 0.2em;
}
h1 {
  margin: 1em 0;
  text-align: center;
  text-decoration: underline "$$color.pri";
  text-underline-offset: 0.3em;
}

h2 {
  border-left: 0.2em solid "$$color.pri.h1";
  border-radius: 0.2em;
  background-color: "$$color.bgr.a9_";
}

h2 ~ :not(h1, h2) {
  margin-left: 0.5em;
}

h3 {
  border-left: 0.3em solid "$$color.pri.h(60)";
  background-color: "$$color.bgr.a9_";
  border-radius: 0.2em;
  margin-left: 0.4em;
}

h3 ~ :not(h1, h2, h3) {
  margin-left: 1em;
}
h4 {
  border-left: 0.3em solid "$$color.pri.h(120)";
  background-color: "$$color.bgr.a9_";
  border-radius: 0.2em;
  margin-left: 1em;
}
h4 ~ :not(h1, h2, h3, h4) {
  margin-left: 1.5em;
}

h5 {
  border-left: 0.3em solid "$$color.pri.h(180)";
  background-color: "$$color.bgr.a9_";
  border-radius: 0.2em;
  margin-left: 1.5em;
}

h5 ~ :not(h1, h2, h3, h4, h5) {
  margin-left: 2em;
}

h6 {
  border-left: 0.3em solid "$$color.pri.h(180)";
  background-color: "$$color.bgr.a9_";
  border-radius: 0.2em;
  margin-left: 2em;
}

h6 ~ :not(h1, h2, h3, h4, h5, h6) {
  margin-left: 2.5em;
}

li {
  margin: 0.3em;
  line-height: 1.2em;
}
strong {
  color: "$$color.sec";
}
em {
  color: "$$color.seca";
  padding: 0 0.2em;
}

pre {
  border-radius: 1em;
  overflow: hidden;
  background-color: "$$color.sec.a8_";
  box-shadow: 0 1px 2px 0.2px "$$color.bgr.a4_";
}
code {
  padding: 1em;
  display: block;
  overflow: auto;
}
